<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/_bootswatch.scss">
      <link rel="stylesheet" href="../static/bootstrap.css">
      <link rel="stylesheet" href="../static/bootstrap.min.css">
      <link rel="stylesheet" href="../static/_variables.scss">

      <!--<link rel="stylesheet" href="../static/style.css/">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
   </head>
   <body>
      <br>
      <br>
      <h1><center>Dexter's Web Server!</center></h1>
      <br>
      <br>
      <br>
      <!--<div class="row">
      <a href="/{{pin}}/off" class="btn btn-block btn-sm btn-default" role="button">Turn off</a></div>-->
      <div class=""><center>
         <a href="/forward" button class="btn btn-lg btn-primary" type="button">Forward</button></center></div>
         <br>
      <div class=""><center>
         <a href="/left" button class="btn btn-lg btn-primary" type="button">Left</button>
         
         <a href="/right" button class="btn btn-lg btn-primary" type="button">Right</button></center>
         <br>
      </div>
      <div class=""><center>   
         <a href="/reverse" button class="btn btn-lg btn-primary" type="button">Backwards</button></center>
      </div>
      <br>
      <br>
      <br>
      <h4><center>Current time: {{ time }}</center></h4>
   </body>
</html>